
.h1{
    display: flex;
    color:rgb(18, 138, 218);
    margin-top: 20px;
    padding: 10;
}
.div{
    justify-content: space-around;
    margin-top: 10px;
    padding: 15px;
    /* width: 1200px; */

}
.p {
    color:rgb(73, 69, 80);
    font-size: 20px;
    flex-wrap: wrap;
    padding: 15px;
    margin: 10px;
}

.img {
    width: 300px; /* Ajusta el ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Redondea las esquinas */
  
    padding: 10px;
    float: left;
  }



  .banner2 {
    background-image: url('../../image/banner.jpeg'); /* Replace with your image URL */
    background-size: cover;   /* Make the image cover the entire area */
    background-position: center center; /* Center the image */
    color: white;
    text-align: center;
    padding: 100px 20px;  /* Adjust padding for spacing */
    position: relative;
    width: 1300px;
    height: auto;
}

