
.img2{
    background-repeat: no-repeat ;
    background-size: auto;
    color: white;
    padding: auto ;   /*Adjust padding for spacing */
    position: relative;
    width:1300px;

}
.div2{
    width:100%;
    height: 800px; /* Ajusta la altura según lo que necesites */
    background-image: url('../../image/bglanding.jpg');
    background-size: cover; /* Hace que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen */
    display: flex; /* Usamos flexbox para alinear el botón */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    position: relative; /* Necesario si quieres posicionar el botón de manera absoluta */

}

.button2 {
    padding: 10px 20px;
    background-color: rgba(243, 10, 10, 0.5); /* Fondo oscuro y semitransparente */
    color: rgb(245, 243, 243);
    font-size: 39px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .button2:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Cambia el color del botón al pasar el ratón */
  }
  .p1{
    font-family: Arial, sans-serif;
    text-indent: 30px;
    color: #e9e4e4;
    background-color: rgba(0, 0, 0, 0.5); 
    transition: background-color 0.5s ease;
  }

  /* Default styling for images */
.img2 {
  width: 100%;
  height: auto;
}

/* Media query for devices with a screen width of 600px or less */
@media (max-width: 600px) {
  .img2 {
      width: 80%; /* Adjust the image width for smaller screens */
  }
}

/* Media query for devices with a screen width of 1200px or more */
@media (min-width: 1200px) {
  .img2 {
      width: 50%; /* Adjust the image width for larger screens */
  }
}

/* Media query for devices with a screen width of 600px or less */
@media (max-width: 600px) {
  .button2 {
      width: 80%; /* Adjust the image width for smaller screens */
  }
}

/* Media query for devices with a screen width of 1200px or more */
@media (min-width: 1300px) {
  .button2 {
      width: 80%; /* Adjust the image width for larger screens */
  }
}

@media (max-width: 768px) {
  .div2 {
    background-image: url('../../image/bglanding.jpg');
  }
}

/* Media query for devices with a screen width of 1200px or more */
@media (max-width: 480px) {
  .div2 {
    background-image: url('../../image/bglanding.jpg');
  }
}