.button1{
    background-color: rgb(17, 17, 17);
    color:  white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s;
}
.button1:hover {
    background-color: #b3f3b6; /* Darker Green */
    color:  black;
  }
.button2{
    background-color: #dfe207;
    color:  rgb(8, 8, 8);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s;
}

.button2:hover {
    background-color: #b3f3b6; /* Darker Green */
  }

.alert{
    color: rgb(24, 199, 33);
    font-weight: bold;
    cursor: pointer;
    float: center;
    font-size: 22px;

  }
  .div_3{
    float: center;
  }

  /* Estilos generales para la alerta */
.alert {
  padding: 20px;
  background-color: #19c23e; /* Color de fondo */
  color: white;              /* Color del texto */
  font-size: 16px;           /* Tamaño del texto */
  border-radius: 5px;        /* Bordes redondeados */
  margin-bottom: 15px;       /* Espacio inferior */
  width: 100%;               /* Ancho completo */
  box-sizing: border-box;    /* Incluir el padding en el tamaño total */
  transition: background-color 0.3s ease;
}
