
.h2{
    text-align-last: center;
    color:rgb(48, 48, 240);
    margin-top: 20px;
  
    
    }

.div{
    justify-content: center;
    margin-top: 10px;
    padding: 20px;
}
.form{
    padding: 40px;
    color: black;
   
}